Repository jenkins-zh/jenkins-zh, pull requests merged in 2020-04, with the labels that each got.

#203 Add meeting notes for 2020-04-01
  content/meeting/2020-04-01.md
Labels: meeting

#206 增加推荐文章翻译的 issue 模板
  .github/ISSUE_TEMPLATE/translation.md
Labels: chore

#211 Do not need to fetch articles from wechat again
  .github/workflows/deploy-to-github-page.yaml
  .github/workflows/dispatch-deploy.yaml
Labels: chore

#216 Migrate an article from wechat
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code.md
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/AWS-infrastructure.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/DevOps-system.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/JCasC-plugin-configuration-file.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/JCasC-plugin-configuration.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/JCasC-plugin.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/cover.jpg
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/docker.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/infrastructure.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/job-builder.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/job-page.png
  content/wechat/articles/2020/04/2019-04-08-build-jenkins-as-a-code/target.png
Labels: article

#209 [原创 2020-04-09] 自定义 Jenkins 发行版就是这么简单
  content/wechat/articles/2020/04/2020-04-09-custom-jenkins-war.md
  content/wechat/articles/2020/04/2020-04-09-custom-jenkins-war/jenkins-formula-pr.png
  content/wechat/articles/2020/04/2020-04-09-custom-jenkins-war/jenkins-mirror-data.png
  content/wechat/articles/2020/04/2020-04-09-custom-jenkins-war/jenkins-plugins.png
Labels: article

#210 [原创-2020-04-10] Add the release notes for jcli v0.0.27
  content/wechat/articles/2020/04/2020-04-10-jcli-v0.0.27.md
  content/wechat/articles/2020/04/2020-04-10-jcli-v0.0.27/jenkins-cli.png
Labels: article

#212 [翻译-2020-04-15] 使用 Vault 与 Kubernetes 为密码提供强有力的保障
  content/wechat/articles/2020/04/2019-04-15-effective-secret-with-vault-and-kubernetes.md
  content/wechat/articles/2020/04/2019-04-15-effective-secret-with-vault-and-kubernetes/cover.jpg
Labels: article

#225 Add meeting notes for 2020-04-15
  content/meeting/2020-04-15.md
Labels: meeting
